<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Product Table</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title">Edit Product</h4>
                        <p class="sub-header">
                            from your Product Table.
                        </p>
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-12 text-sm-center form-inline">
                                    <div class="form-group mr-2">
                                        <a href="#addProductModal" data-toggle="modal">
                                            <button class="btn btn-primary">
                                                <i class="mdi mdi-plus-circle mr-2"></i>
                                                <span>Add Product</span>
                                            </button>
                                        </a>                                             
                                    </div>
                                    <div class="form-group">
                                        <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th>Edit</th>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>Status</th>                                  
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>
                                        <a href="/editProduct/update/{{MASACH}}" class="edit">
                                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        </a>
                                    </td>
                                    <td>{{MASACH}}</td>
                                    <td>{{LOAISACH}}</td>
                                    <td>{{TENSACH}}</td>
                                    <td>{{GIA}}</td>
                                    <td>{{IMAGE}}</td>
                                    <td>
                                        <input type="button" id ="{{MASACH}}" class="btn btn-{{COLORSTATUS}}" 
                                        data-toggle="tooltip" data-placement="right" title="Change Status"
                                        onclick="statusFunc(event)" value="{{STATUS}}">
                                        </input>
                                    </td>                          
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                            <tr class="active">
                                <td colspan="12">
                                    <div class="text-right">
                                        <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

    </div> <!-- content -->

</div>


<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<!-- Form Add product -->
<div id="addProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/editProduct/store">
                <div class="modal-header">						
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Mã Sách</label>
                        <input type="text" class="form-control" name="id" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Sách</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>Loại Sách</label>
                        <input type="text" class="form-control" name="type" required>
                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        <input type="number" class="form-control" name="price" required>
                    </div>
                    <div class="form-group">
                        <label>Ảnh</label>
                        <input type="text" class="form-control" name="image" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Form add product -->

<form name="deleteProduct" method="POST"></form>

<script>
    function statusFunc(event){
        const formDelete = document.forms['deleteProduct'];
        const btn = event.target;
        if(btn.value == "Hiden")
        {
            formDelete.action = '/editProduct/active/' + btn.id;
            formDelete.submit();
        }
        else
        {
            formDelete.action = '/editProduct/hiden/' + btn.id;
            formDelete.submit();
        }
    }
</script>