<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Account Table</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title">Edit Account</h4>
                        <p class="sub-header">
                            from your Account Table.
                        </p>
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-12 text-sm-center form-inline">
                                    <div class="form-group mr-2">
                                        <a href="#addAdminModal" data-toggle="modal">
                                            <button class="btn btn-primary">
                                                <i class="mdi mdi-plus-circle mr-2"></i>
                                                <span>Add Admin Account</span>
                                            </button>
                                        </a>                                             
                                    </div>
                                    <div class="form-group">
                                        <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                    </div>                         
                                </div>
                            </div>
                            <div class="row">
                                {{#if message}}<h4 style="color: red; margin-left: 10px">{{message}}</h4>{{/if}}
                            </div>
                        </div>

                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Owner</th>
                                    <th>Role</th>
                                    <th>Status</th>                                  
                                </tr>
                            </thead>
                            <tbody>
                                {{#each accounts}}
                                <tr>
                                    <td>{{ID}}</td>
                                    <td>{{EMAIL}}</td>
                                    <td>{{PASSWORD}}</td>
                                    <td>{{OWNER}}</td>
                                    <td>{{ROLE}}</td>
                                    <td>
                                        <input type="button" id ="{{MASACH}}" class="btn btn-{{COLORSTATUS}}" 
                                        data-toggle="tooltip" data-placement="right" title="Change Status"
                                        onclick="statusFunc(event)" value="{{STATUS}}">
                                        </input>
                                    </td>                          
                                </tr>
                                {{/each}}
                            </tbody>          
                        </table> 

                        {{!-- Pagination --}}
                         <div style="margin-top: 30px ">
                            <ul class="pagination justify-content-end">
                                {{#each Items}}
                                <li class="page-item{{#if cur}} active{{/if}}"><a class="page-link" href="/editAccount?page={{item}}">{{item}}</a></li>
                                {{/each}}
                            </ul>    
                        </div> 

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

    </div> <!-- content -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<!-- Form Add admin account -->
<div id="addAdminModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/editAccount/add">
                <div class="modal-header">						
                    <h4 class="modal-title">Add admin account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">				
                    <div class="form-group">
                        <label for="emailaddress">Email address</label>
                        <input class="form-control" type="email" name="email" required="" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" required="" id="password" name="password" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" onclick="visibility()">
                        <label>Show password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Form add admin account -->
<script>
    function visibility(){
        let x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
