<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Edit Product</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 
        </div>
        <!-- Form Edit Product -->
        <div id="editProductModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{#with product}}
                    <form method="POST" action="/editProduct/saveUpdate/{{MASACH}}?_method=PUT" enctype="multipart/form-data">
                        <div class="modal-header">						
                            <h4 class="modal-title">Update Product</h4>
                            <a href="/editProduct">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </a>              
                        </div>
                        <div class="modal-body">					
                            <div class="form-group">
                                <label>Tên Sách</label>
                                <input type="text" class="form-control" name="name" value="{{TENSACH}}">
                            </div>
                            <div class="form-group">
                                <label>Loại Sách</label>
                                <input type="text" class="form-control" name="type" value="{{LOAISACH}}">
                            </div>
                            <div class="form-group">
                                <label>Giá</label>
                                <input type="number" class="form-control" name="price" value="{{GIA}}">
                            </div>
                            <div class="form-group">
                                <label>Ảnh</label><br>
                                <input type="url" class="form-control" value="{{IMAGE}}" readonly>
                                <p style="margin-top: 10px;">Thay đổi: </p>
                                <input type="file" name="image">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-info" value="Save">
                        </div>
                    </form>
                    {{/with}}
                </div>
            </div>
        </div>
<!-- End Form Edit Product -->
    </div>
</div>

